<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>ADMIN PANEL | Xodarap</title>
    <link rel="icon" type="image/png" href="/icon/icon.png">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="content-container">
        <h1>PAINEL DE ADMINISTRADOR</h1>
        <p>Acesso de Nível Ômega concedido. Cuidado: suas ações são monitoradas.</p>
        <p><strong>[Aqui você pode colocar os segredos e pistas mais importantes do seu ARG]</strong></p>
    </div>
</body>
</html>
